.btn {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  padding: 0 10px;
  color: $btn-color;
  background: $btn-back;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  line-height: 15px;
  @include main-font1();
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: $btn-back-hover;
  }

  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
  }

}