/*---------- popup ----------*/
$popup-back1: rgba( 0, 0, 0, 1 );
$popup-back2: rgba( 255, 255, 255, 1 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-color1: #bababa;
$nice-checkbox-color2: #5f5f5f;
$nice-checkbox-back1: #eaeaea;
$nice-checkbox-back2: #5f5f5f;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #b7b7b7;
$btn-back-hover: #8c8c8c;
$btn-back-active: #000;
$btn-color: #fff;
$btn-color-active: #e0e0e0;
/*---------- /btn ---------*/

/*---------- site ---------*/
$site-loading-back: #fff;
$site-header-back: rgba(255,255,255,0.5);
$site-header-user-color1: #959595;
$site-header-user-color2: #5f5f5f;
$site-header-curation-color: #5f5f5f;
$site-menu-btn-back1: #5f5f5f;
$site-menu-btn-back2: #959595;
$site-menu-btn-back3: #000;
$site-menu-nav-back: rgba(255,255,255,0.9);
$site-menu-link-color: #000000;
$site-menu-link-hover-color: #dfdfdf;
$site-down-link-back: rgba(255,255,255,0.5);
$site-down-link-hover-back: rgba(255,255,255,0.5);
$site-down-link-color: #444444;
$site-content-inner-color1: #959595;
$site-content-inner-color2: #5d5d5d;
$site-input-color: #959595;
$site-input-back: #f3f3f3;
$site-input-focus-back: #efefef;
$site-title-color1: #6e6e6e;
$site-title-color2: #5f5f5f;
/*---------- /site ---------*/

/*---------- language ---------*/
$language-back1: #5f5f5f;
$language-back2: #fff;
$language-color1: #fff;
$language-color2: #6e6e6e;
$language-hover-color1: #c7c7c7;
/*---------- /language ---------*/

/*---------- categories ---------*/
$categories-set-item-back: #5f5f5f;
$categories-set-item-hover-back: #e7e7e7;
$categories-set-item-active-back: #b7b7b7;
$categories-set-item-hover-color: #000;
$categories-set-item-active-color: #fff;
$categories-btn-color: #5f5f5f;
$categories-drop-down-back: rgba(255,255,255,1);
$categories-set-active-back: #b7b7b7;
$categories-set-active-color: #fff;
/*---------- /categories ---------*/

/*---------- enter-form ---------*/
$enter-form-forgot-color: #5d5d5d;
/*---------- /enter-form ---------*/

/*---------- single-photos-slider ---------*/
$single-photos-slider-but-back1: rgba(255,255,255,0.9);
$single-photos-slider-but-back2: rgba(0,0,0,0.1);
$single-photos-slider-info-back: rgba(255,255,255,0.8);
$single-photos-slider-info-color: #5f5f5f;
$single-photos-slider-like-back1: rgba(255,255,255,0.5);
$single-photos-slider-like-back2: rgba(246,122,226,1);
$single-photos-slider-like-back3: rgba(0,0,0,0.1);
$single-photos-slider-like-back4: rgba(0,0,0,0.3);
$single-photos-slider-zoom-back1: rgba(255,255,255,0.5);
$single-photos-slider-zoom-back2: rgba(255,255,255,1);
$single-photos-slider-drop-back: #fff;
$single-photos-slider-drop-back2: #ccc;
$single-photos-slider-drop-color: #000;
/*---------- /single-photos-slider ---------*/