/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #5f5f5f;
$nice-checkbox-color: #bababa;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #b7b7b7;
$btn-back-hover: #8c8c8c;
$btn-back-active: #000;
$btn-color: #fff;
$btn-color-active: #e0e0e0;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/

/*---------- site ---------*/
$site-loading-back: #fff;
$site-header-user-color1: #bababa;
$site-header-user-color2: #5f5f5f;
$site-header-curation-color: #5f5f5f;
$site-menu-btn-back1: #5f5f5f;
$site-menu-btn-back2: #bababa;
$site-menu-nav-back: rgba(255,255,255,0.9);
$site-menu-link-color: #000000;
$site-menu-link-hover-color: #dfdfdf;
$site-down-link-back: rgba(255,255,255,0.5);
$site-down-link-hover-back: rgba(255,255,255,0.5);
$site-down-link-color: #444444;
$site-content-inner-color1: #bababa;
$site-content-inner-color2: #5d5d5d;
$site-input-color: #bababa;
$site-input-back: #f3f3f3;
$site-input-focus-back: #efefef;
/*---------- /site ---------*/

/*---------- language ---------*/
$language-back1: #5f5f5f;
$language-back2: #fff;
$language-color1: #fff;
$language-color2: #6e6e6e;
$language-hover-color1: #c7c7c7;
/*---------- /language ---------*/