.gallery-full {
  width: 100%;
  height: 100%;
}
.gallery-full .swiper-button-next,
.gallery-full .swiper-button-prev {
  left: 0;
  width: 26px;
  height: 66px;
  margin-top: -38px;
  border-radius: 0 3px 3px 0;
  background: $single-photos-slider-but-back1;
  transition: background 0.2s linear;
  
  &:after {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 10px;
    height: 30px;
    background: url('../img/slider-arrow.png') no-repeat;
    background-size: contain;
    content: '';
    transform: translateY(-50%) rotate(180deg);
  }
}
.popup_white .gallery-full .swiper-button-next,
.popup_white .gallery-full .swiper-button-prev {
  background: $single-photos-slider-but-back2;
}
.gallery-full .swiper-button-next {
  left: auto;
  right: 0;
  border-radius: 3px 0 0 3px;

  &:after {
    transform: translateY(-50%);
  }
}
.gallery-full__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-full__item .single-photos-slider__info {
  display: none;
}
.popup_white .gallery-full__item .single-photos-slider__like {
  background-color: $single-photos-slider-like-back3;
}
.popup_white .gallery-full__item .single-photos-slider__like.liked {
  background-color: $single-photos-slider-like-back4;
}
