.imprint {
  max-width: 610px;
  margin: 0 auto!important;
  padding: 0!important;
  font: 300 18px 'Oxygen', sans-serif;

  h2{
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
  }

  h3{
    font-weight: 300;
  }

  p{
    margin: 0!important;
  }

  a{
    color: rgb(186, 186, 186);
  }

  &__item{
    margin-bottom: 25px;
    font-style: normal;
  }

  &__text{

    p{
      text-align: justify;
    }

  }

  .contact-info__item {
    text-align: center;
  }

}

@media (min-width: $tablet-portrait) {

}


