.site__header_index  .instagram,
.site__header_contact  .instagram {
  display: block;
  width: 21px;
  height: 21px;
  background: url(../img/instagram.png) no-repeat 0 0;
  background-size: cover;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}

@media (min-width: $tablet-portrait) {

  .site__header_index  .instagram,
  .site__header_contact  .instagram {

    margin-right: 25px;

    &:hover{
      opacity: .8;
    }

  }

}


