.logo {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 77px;
  height: 33px;
}
.site__header_index .logo {
  width: 101px;
  height: 57px;
}
.logo img {
  display: none;
  width: 100%;
  height: auto;
}
.logo .logo__inner {
  display: block;
}
.site__header_index .logo .logo__inner {
  display: none;
}
.site__header_index .logo .logo__index {
  display: block;
}
.logo_index-black .logo__index-black {
  display: block !important;
}
.logo_index-black .logo__index {
  display: none !important;
}

@media (min-width: $tablet-portrait) {
  .logo {
    top: 25px;
    left: 25px;
    width: 104px;
    height: 45px;
  }
  .site__header_index .logo {
    width: 203px;
    height: 115px;
  }
}


