.nice-checkbox {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 0 4px 0;
  user-select: none;
}
.nice-checkbox label {
  position: relative;
  min-height: 18px;
  padding: 1px 0 0 37px;
  color: $nice-checkbox-color;
  cursor: pointer;
  font-size: 19px;
  line-height: 19px;

  &:after,
  &:before {
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: #f5f5f5;
    border: 2px solid #f5f5f5;
    content: '';
    box-sizing: border-box;
  }

  &:after {
    z-index: 2;
    opacity: 0;
    background: #bababa;
  }

}
.nice-checkbox input[ type = checkbox ] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.nice-checkbox input[ type = checkbox ]:checked + label {
  font-weight: 700;
  color: $nice-checkbox-after-color;

  &:after {
    opacity: 1;
  }
}
.nice-checkbox input[ type = checkbox ]:disabled + label {
  cursor: default;
  opacity: .5;
}
