.site {
  min-height: 100%;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  @include main-font1();
}
.site__layout {
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}
.site__loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: url("../img/loading.gif") no-repeat center $site-loading-back;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.site__loading.show {
  opacity: 1;
  visibility: visible;
  z-index: 30;
}
.site__header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: $site-header-back;
}
.site__header_index {
  height: 100px;
  background: transparent;
}
.site__header_non-pointer {
  pointer-events: none;
}
.site__header_non-pointer > * {
  pointer-events: all;
}
.site__header-items {
  @include flexbox();
  @include flex-direction( column-reverse );
  @include justify-content ( flex-end );
  @include align-items( flex-start );
  position: absolute;
  left: 100px;
  top: 11px;
  width: 53.6%;
}
.site__header-user {
  font-size: 12px;
  line-height: 14px;
  @include main-font1();
  color: $site-header-user-color1;
}
.site__header-user span {
  display: none;
}
.site__header-user .site__header-user-name{
  display: block;
  font-size: 15px;
  line-height: 18px;
  @include main-font2();
  color: $site-header-user-color2;
}
.site__header-curations {
  width: 155px;
  padding: 0 0 0 23px;
  min-height: 15px;
  background: url("../img/personal-curation.png") no-repeat;
  background-size: 16px 15px;
  font-size: 13px;
  line-height: 17px;
  @include main-font2();
  color: $site-header-curation-color;

  &:hover {
    text-decoration: underline;
  }
}
.site__menu {
  position: absolute;
  top: 17px;
  right: 10px;
}
.site__menu-btn {
  display: block;
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  width: 38px;
  height: 22px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &:before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 4px;
    background: $site-menu-btn-back1;
    border-radius: 2px;
    content: '';
    transition: transform 0.3s, background .3s;
  }

}
.site__menu-btn span {
  z-index: 2;
  right: 0;
  width: 38px;
  height: 4px;
  margin-top: 3px;
  background: $site-menu-btn-back2;
  font-size: 0;
  border-radius: 2px;
  transition: background-color 0.3s;
  @include absoluteCenter();

  &:before,
  &:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: $site-menu-btn-back2;
    border-radius: 2px;
    content: '';
    transition: transform 0.3s, background .3s;
  }

  &:before {
    transform: translate( 0, -12px );
  }

  &:after {
    transform: translate( 0, 6px );
  }
}
.site__menu-btn.opened span {
  background: $site-menu-btn-back1;

  &:before,
  &:after {
    background: $site-menu-btn-back1;
  }
}
.site__menu-nav {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 31px;
  right: 0;
  min-width: 109px;
  padding: 5px 0 9px;
  background: $site-menu-nav-back;
  border-radius: 3px;
  text-align: right;
  @include main-font1();
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
}
.site__menu-btn.opened + .site__menu-nav {
  opacity: 1;
  visibility: visible;
}
.site__menu-link {
  display: block;
  color: $site-menu-link-color;
  @include main-font1();
  font-size: 13px;
  line-height: 13px;
  padding: 3.5px 7px;
  transition: background 0.3s;

  &:hover {
    background: $site-menu-link-hover-color;
  }
}
.site__menu_black .site__menu-btn span {
  background: $site-menu-btn-back3;

  &:before,
  &:after {
    background: $site-menu-btn-back3;
  }
}
.site__down-link {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  padding: 10px 0 0;
  background: $site-down-link-back;
  text-align: center;
  @include main-font1();
  transition: background 0.3s;

  &:hover {
    background: $site-down-link-hover-back;
  }

  &:after {
    @include absoluteCenterX();
    bottom: 10px;
    width: 50px;
    height: 16px;
    background: url("../img/down-arrow.png") no-repeat;
    background-size: cover;
    content: '';
    transition: bottom 0.3s;
  }
}
.site__down-link span {
  font-size: 25px;
  line-height: 30px;
  color: $site-down-link-color;
}
.site__content {
  position: relative;
  z-index: 2;
  padding: 70px 0 0;
  font-size: 16px;
  line-height: 25px;
  color: $site-content-inner-color1;
}
.site__content_pad-bot {
  padding-bottom: 70px;
}
.site__content p {
  margin: 0 0 30px;
}
.site__content ul li {
  margin: 0 0 6px;
}
.site__content p span {
  color: $site-content-inner-color2;
}
.site__content_top {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
}
.site__content_absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translateY(100%);
  opacity: 0;
}
.site__content_from-bottom {
  transform: translateY(0);
  opacity: 0;
}
.site__center {
  position: relative;
  max-width: 990px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.site__title {
  position: relative;
  margin: 0 0 20px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  @include main-font7();
  color: $site-title-color1;
}
.site_canvas {
  color: transparent;
}
.site_canvas span{
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
}
.site_canvas span canvas {
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.site__title_3 {
  position: relative;
  z-index: 2;
  margin: 0 0 7px;
  color: $site-title-color2;
  font-size: 19px;
  line-height: 19px;
  @include main-font2();
  text-transform: none;
  letter-spacing: 0;
}
.site__content__inner {
  text-align: center;
}
.site__content__inner_left {
  text-align: left;
}
input[type="text"].site__input ,
input[type="password"].site__input ,
input[type="email"].site__input ,
input[type="phone"].site__input ,
input[type="number"].site__input,
textarea.site__area {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 31px;
  margin: 0 0 10px;
  padding: 10px 10px;
  font-size: 15px;
  line-height: 15px;
  background: $site-input-back;
  color: $site-input-color;
  border-radius: 3px;
  border: none;
  @include main-font1();
  transition: background 0.3s;

  &:focus {
    background: $site-input-focus-back;
  }
}
textarea.site__area {
  height: 61px;
}

@media (min-width: $tablet-portrait) {
  .site__down-link {
    height: 111px;
    padding: 16px 0 0;

    &:hover {

      &:after {
        bottom: 16px;
      }
    }

    &:after {
      @include absoluteCenterX();
      bottom: 26px;
    }
  }
  .site__down-link span {
    font-size: 37px;
    line-height: 40px;
  }
  .site__header {
    height: 90px;
    background: transparent;
  }
  .site__header_index {
    height: 160px;
  }
  .site__header-items {
    @include flex-direction( row );
    @include justify-content( space-between );
    @include align-items( flex-end );
    left: 187px;
    top: 27px;
  }
  .site__header-user {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    font-size: 15px;
    line-height: 17px;
  }
  .site__header-user span{
    display: block;
  }
  .site__header-user .site__header-user-name{
    font-size: 20px;
    line-height: 23px;
  }
  .site__header-curations {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    background-position: left 3px;
    font-size: 19px;
    line-height: 21px;
  }
  .site__menu {
    top: 26px;
    right: 23px;
  }
  .site__center {
    padding: 0 25px;
  }
  .site__content {
    padding: 98px 0 0;
  }
  .site__content_pad-bot {
    padding-bottom: 110px;
  }
  .site__content_center {
    @include flexbox();
    @include flex-direction();
    @include flex-wrap( wrap );
    @include justify-content( center );
    @include align-items( center );
  }
  .site__content__inner {
    padding-left: 60px;
    padding-right: 60px;
  }
  .site__title_3 {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
  }
}
@media (min-width: $tablet-landscape) {
  .site__title {
    font-size: 100px;
    line-height: 100px;
    margin: 0 0 20px;
  }
  .site_canvas span canvas {
    top: -9px;
  }
  .site__title_2 {
    margin: 0 0 2px;
    font-size: 70px;
    line-height: 65px;
  }
  .site__title_3 {
    font-size: 19px;
    line-height: 21px;
  }
  .site__content {
    font-size: 20px;
    line-height: 30px;
  }
  .site__content__row {
    @include flexbox();
    @include flex-direction();
    @include justify-content( center );
    @include align-items();
    text-align: left;
  }
  .site__content__row .site__title {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content( flex-start );
    @include align-items(flex-end);
    text-align: right;
    width: 34%;
    margin: 0;
  }
  .site__content__row .site__content-text {
    width: 66%;
  }
  .site__content-text {
    padding: 0 0 0 24px;
    margin: 0 0 29px;
  }
}

